:root {
    --primary-color: #efebe0;
    --secondary-color: #121212;
}

@font-face {
    font-family: 'Playfair Display Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 400 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/playfair-display:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

@font-face {
    font-family: 'Montserrat Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

body.no-scroll {
    overflow: hidden;
}

.hero {
    height: 100svh;
}

.hero video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
}

header {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: rgba(18, 18, 18, 0);
    transition: background-color 0.3s linear;
}

#hamburger {
    display: none;
}


nav ul {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 1.5vw;
}

.nav-page {
    line-height: 1;
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ;
}

.nav-page:hover {
    border-bottom: 2px solid var(--primary-color);
}

.hero-overlay {
    height: 100svh;
    display: grid;
    grid-template-rows: 7fr 1fr;
}

h1 {
    font-family: 'Playfair Display Variable', serif;
    font-weight: 600;
    font-size: clamp(6.5rem, 10vw, 100rem);
    color: var(--primary-color);
    grid-row: 1;
    align-self: end;
    padding: 0 0 3vh 2vw;
}

.hero-overlay a {
    align-self: center;
    justify-self: center;
}

.hero-overlay img {
    width: 5rem;
    filter: sepia(10%) saturate(166%) hue-rotate(5deg) brightness(95%) contrast(99%);
}



.featured {
    padding: 8vw 0 0 10vw;
}

h2 {
    font-family: 'Playfair Display Variable', serif;
    font-weight: 500;
    font-size: 4vw;
    margin: 0 0 3vw 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.article-container {
    gap: 5vw;
    width: 80vw;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 30vw;
    aspect-ratio: 5/3;
    border-radius: 12px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(media/images/placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 3vw;
    box-shadow: 0 0.3vw 0.3vw rgb(150, 150, 150);
    transition: all 0.3s ease;
}

.card:hover {
    scale: 98%;
    box-shadow: 0 0.1vw 0.1vw rgb(150, 150, 150);
    cursor: pointer;
}

.article {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(media/images/parchment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    width: 15rem;
    height: auto;
    aspect-ratio: 3/4;
    display: flex;
    overflow: hidden;
}

h3 {
    font-size: 4vw;
    padding: 0 0 1vh 0;
}

.article h3 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    font-weight: 520;
    padding: 0 0 2vh 0;
}

.article-description {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2;
    height: 70%;
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.read-more {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 600;
    padding: 3%;
    border: 0.1vw solid transparent;
    border-radius: 12px;
    transition: all 0.3s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.read-more:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0.1vw solid var(--secondary-color);
}

.date-range {
    font-size: 2vw;
    padding: 0.5vw 0 0 0.5vw;
}

.booking-cta {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2vw;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.booking-cta a {
    display: inline-block;
    padding: 1vw;
    color: inherit;
}

.booking-cta a:visited {
    color: inherit;
}

.booking-cta:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

footer {
    padding: 10vw 0 0 0;
}

footer hr {
    width: 60%;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 4vw 10vw 5vw 10vw;
    font-family: 'Montserrat Variable', sans-serif;
    font-size: 1rem;
}

.footer-content a[href^="tel"], .footer-content a[href^="mailto:"], a, a:visited {
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: underline;
}

.contact {
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

.signature {
    justify-self: center;
}

.fb-logo {
    justify-self: end;
}

.fb-logo svg {
    width: 2rem;
    height: 2rem;
    }

.fb-logo svg:hover {
        fill: #1669D1; 
    }


@media (max-width: 820px) {

    header {
        height: 8vh;
        display: flex;
        align-items: center;
    }

    #mobile-nav {
    position: fixed;
    inset: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1; /* make sure it's above everything */
}

    #mobile-nav.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    #mobile-nav ul {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    #mobile-nav.active ul {
        display: flex;
    }

    #hamburger {
        font-family: 'Montserrat Variable';
        color: var(--primary-color);
        font-weight: 100;
        font-size: clamp(4rem, 20vw, 5rem);
        padding: 0 3vw;
        z-index: 2;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hero-overlay {
        grid-template-rows: 4fr 1fr;
    }

    h1 {
        align-self: center;
        font-size: clamp(1rem, 18vw, 8rem);
        padding: 14vh 4vw 0 4vw;
        text-align: center;
    }

    .hero-overlay img {
        width: 3rem;
    }

    h2 {
        font-size: clamp(2rem, 10vw, 4rem);
        margin: 0 0 8vw 0;
        text-align: center;
    }

    .featured {
        padding: 18vw 0 0 0;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: auto;
        border-radius: 0;
        padding: 8vw;
        box-shadow: none;
    }

    .card:hover {
        scale: 100%;
    }

    h3 {
        font-size: 8vw;
    }

    .date-range {
        font-size: 5vw;
    }

    .booking-cta {
        font-size: clamp(1rem, 3vw, 1.5rem);
        padding: 2vw 4vw;
        right: 4vw;
        bottom: 4vw;
    }

    .article-container {
        padding: 0 0 0 10vw;
        gap: 10vw;
        justify-content: center;
        flex-direction: row;
    }

    .article {
        width: 15rem;
        height: auto;
        border-radius: 12px;
        padding: 2rem;
    }

    .article h3 {
        padding: 0 0 3vw 0;
    }

    .read-more {
        bottom: 4vw;
        right: 4vw;
    }
    
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        gap: 5vw;
    }

    .contact {
        grid-row: 1;
        line-height: 1.2;
        justify-self: right;
    }

    .fb-logo {
        grid-row: 1;
        justify-self: center;
    }

    .signature {
        grid-row: 2;
        grid-column: 1/3;
    }
}   